{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@lingui/babel-preset-react",
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    ["emotion", { "sourceMap": true }],
    "macros",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
